body{
    height: 100vh;
    background-color: rgb(224, 224, 224);
    margin: 0px;
    padding-top: 5em;
    box-sizing:border-box;
}

.container{
    display: grid;
    grid-template: 12em 12em 12em / 12em 12em 12em;
    gap: 1em;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    /* margin-top: 5em; */
}
.board-space{
    background-color: rgb(255, 157, 0);
    font-size: 11em;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
.reset-bg{
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    margin: 0;
}
.reset{
    color: rgb(228, 228, 228);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(39, 39, 39);
    z-index: 0;
    padding: 2em 1.5em;
    border-radius: .5em;
    text-align: center;
    
}
.result-text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
}
.footer {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 0px;
    height: 4em;
    width: 100vw;
    justify-content: center;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}
.button-reset {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-reset:hover,
.button-reset:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-reset:hover {
  transform: translateY(-1px);
}

.button-reset:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}